<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <!--  DEPURACIÓN DINÁMICA DE COMPILACIÓN
          Establezca la depuración de compilación como "true" para habilitar la depuración ASPX. Si no, establezca este valor en "false"
          para mejorar el rendimiento en tiempo de ejecución de la aplicación. 
          Establezca la depuración de compilación como "true" para insertar símbolos de depuración (información .pdb)
          en la página compilada. Dado que este proceso crea un archivo grande que se ejecuta
          más despacio, debe establecer este valor en "true" durante la depuración y en
          "false" el resto del tiempo. Para obtener más información, vea la documentación acerca de
          la depuración de archivos ASP.NET.
    -->
    <compilation 
         defaultLanguage="c#"
         debug="true"
    />
    <!--  MENSAJES DE ERROR PERSONALIZADOS
          Establezca el modo customErrors como "On" o "RemoteOnly" para habilitar los mensajes de error personalizados y como "Off" para deshabilitarlos. 
          Agregue etiquetas <error> para cada error que desee controlar.

          "On" Mostrar siempre mensajes personalizados (descriptivos).  
          "Off" Mostrar siempre información de error detallada de ASP.NET.
          "RemoteOnly" Mostrar mensajes personalizados (descriptivos) sólo a usuarios que no se estén ejecutando 
          en el servidor Web local. Se recomienda esta configuración por motivos de seguridad, para que 
          no se muestre información detallada de la aplicación a clientes remotos.
    -->
    <customErrors 
    mode="RemoteOnly" 
    /> 

    <!--  AUTENTICACIÓN 
          Esta sección establece las directivas de autenticación de la aplicación. Los modos existentes son "Windows", 
          "Forms", "Passport" y "None"

          "None" No se realiza ninguna autenticación. 
          "Windows" IIS realiza la autenticación (básica, implícita o Windows integrada) de acuerdo con 
          la configuración de la aplicación. Se debe deshabilitar el acceso anónimo en IIS. 
          "Forms" El usuario proporciona un formulario personalizado (página Web) para introducir las credenciales y, a continuación, 
          autenticarlas en la aplicación. Un símbolo (token) de credencial de usuario se almacena en una cookie.
          "Passport" La autenticación se realiza mediante un servicio de autenticación centralizado proporcionado
          por Microsoft que ofrece un inicio de sesión único y servicios de perfil principal para sitios miembro.
    -->
    <authentication mode="Windows" /> 

	<!--  AUTORIZACIÓN 
          Esta sección establece las directivas de autorización de la aplicación. Puede permitir o denegar el acceso 
          a los recursos de la aplicación por usuario o función. Comodines: "*" incluye a todo el mundo, "?" incluye a usuarios anónimos 
          (sin autenticar).
    -->

    <authorization>
        <allow users="*" /> <!-- Permitir a todos los usuarios -->
            <!--  <allow     users="[lista de usuarios separados por comas]"
                             roles="[lista de funciones separadas por comas]"/>
                  <deny      users="[lista de usuarios separados por comas]"
                             roles="[ lista de funciones separadas por comas]"/>
            -->
    </authorization>

    <!--  REGISTRO DE SEGUIMIENTO EN EL NIVEL DE APLICACIÓN
          El seguimiento en el nivel de aplicación habilita los resultados del registro de seguimiento para 
          todas las páginas de una aplicación. Establezca el seguimiento como "true" para habilitar el
          registro de seguimiento de la aplicación. Si pageOutput="true", la información de seguimiento
          se mostrará en la parte inferior de cada página. Si no, puede ver el registro de seguimiento de
          aplicación en la página "trace.axd" desde la raíz de la aplicación Web. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  CONFIGURACIÓN DE ESTADO DE SESIÓN 
          De forma predeterminada ASP.NET utiliza cookies para identificar qué solicitudes pertenecen a una sesión determinada. 
          Si las cookies no están disponibles, puede realizar el seguimiento de una sesión agregando un identificador de sesión a la dirección URL. 
          Para deshabilitar las cookies, establezca sessionState cookieless="true".
    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALIZACIÓN
          Esta sección establece la configuración de globalización de la aplicación. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>

</configuration>
